@font-face {
  font-family: RecoletaMed;
  src: url(../../fonts/Recoleta/Recoleta-Medium.ttf);
}
@font-face {
  font-family: RecoletaBold;
  src: url(../../fonts/Recoleta/Recoleta-Bold.ttf);
}
@font-face {
  font-family: ProxiamReg;
  src: url(../../fonts/proxiam/ProxiamReg.ttf);
}
@font-face {
  font-family: ProxiamBold;
  src: url(../../fonts/proxiam/ProxiamBold.ttf);
}
@font-face {
  font-family: ProxiamAltReg;
  src: url(../../fonts/proxiam/ProximaNovaA-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: ProxiamBold;
}

button {
  cursor: pointer;
}

p {
  font-family: ProxiamReg;
}

.navbar__container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: absolute;
  content: "";
  z-index: 1;
}
@media screen and (max-width: 700px) {
  .navbar__container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }
  .navbar__container .img__logo__resp {
    width: 210px;
  }
}
.navbar__container .openMenu {
  display: none;
}
.navbar__container .openMenu button {
  border: none;
  width: 40px;
  font-size: 40px;
  background-color: transparent;
}
@media screen and (max-width: 700px) {
  .navbar__container .openMenu {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.navbar__container .nav__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}
@media screen and (max-width: 700px) {
  .navbar__container .nav__list {
    visibility: hidden;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
  }
}
.navbar__container .nav__list .logo__wrapper {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .navbar__container .nav__list .logo__wrapper {
    display: none;
  }
}
.navbar__container .nav__list .logo__wrapper .img__logo {
  max-width: 100%;
  min-width: 200px;
  padding: 20px;
}
.navbar__container .nav__list li {
  list-style: none;
}
.navbar__container .nav__list li a {
  color: RGB(118, 114, 90);
  font-size: 16px;
  font-weight: bold;
  position: relative;
}
.navbar__container .nav__list li a::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 3px solid white;
  left: 0;
  bottom: -2px;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
}
.navbar__container .nav__list li a:hover::after {
  transform: scale(1, 1);
  transition: transform 0.3s ease;
}
.navbar__container .nav__list li .logo-link:hover::after {
  border-bottom: none;
}
.navbar__container .visible {
  visibility: visible;
}

#footer {
  background-color: #f7f1f1;
}
#footer .footer__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#footer .footer__container .logo__footer__container {
  width: 10%;
}
@media screen and (max-width: 700px) {
  #footer .footer__container .logo__footer__container {
    width: 20%;
  }
}
#footer .footer__container .logo__footer__container .logo__footer {
  width: 100%;
  position: relative;
  top: -30px;
}
#footer .footer__container .social__container {
  margin-bottom: 30px;
  vertical-align: middle;
  text-align: center;
  margin-left: 40px;
}
#footer .footer__container .social__container a {
  text-align: center;
  color: #c8b3ce;
}
#footer .footer__container .social__container a:hover {
  color: #e9571c;
}
#footer .footer__container .social__container i {
  font-size: 1.9rem;
  letter-spacing: 20px;
}
#footer .footer__container .copyRight p {
  text-align: center;
  align-items: center;
  padding-bottom: 30px;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: Proxima;
  font-style: italic;
  color: #999;
}

body {
  background-image: url("../img/fondoabout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: auto;
}
body .aboutme__container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
body .aboutme__container .design__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-top: 150px;
}
@media screen and (max-width: 700px) {
  body .aboutme__container .design__container {
    flex-direction: column-reverse;
    gap: 10px;
    width: 100%;
  }
}
body .aboutme__container .design__container .design__foto__container {
  width: 80%;
}
@media screen and (max-width: 700px) {
  body .aboutme__container .design__container .design__foto__container {
    width: 100%;
    margin-bottom: 20px;
  }
}
body .aboutme__container .design__container .design__foto__container img {
  width: 100%;
  border-radius: 5%;
}
body .aboutme__container .design__container .design__foto__container .star {
  width: 100px;
  transform: rotate(280deg);
  position: relative;
  top: -75px;
  left: -45px;
  z-index: 1;
}
body .aboutme__container .design__container .design__text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 80%;
  height: 100%;
  padding: 50px;
  font-family: RecoletaMed;
}
@media screen and (max-width: 700px) {
  body .aboutme__container .design__container .design__text__container {
    width: 100%;
    padding: 0;
  }
}
body .aboutme__container .design__container .design__text__container .title__ds {
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  width: 100%;
  height: 20%;
  color: #e9715c;
}
body .aboutme__container .design__container .design__text__container .text__design {
  margin-bottom: 30px;
}
@media screen and (max-width: 700px) {
  body .aboutme__container .design__container .design__text__container .text__design {
    margin-bottom: 0;
  }
}
body .aboutme__container .design__container .design__text__container .text__design p {
  margin-bottom: 20px;
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 120%;
}
body .aboutme__container .reverse {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
}
@media screen and (max-width: 700px) {
  body .aboutme__container .reverse {
    flex-direction: column-reverse;
  }
}
body .aboutme__container .relative {
  position: relative;
  top: -50px;
}
body .aboutme__container .button__container {
  margin-top: 50px;
  margin-bottom: 60px;
}
@media screen and (max-width: 700px) {
  body .aboutme__container .button__container {
    margin-top: 0;
  }
}
body .aboutme__container .button__container button {
  padding: 10px 20px 10px 20px;
  border: 2px solid #91769b;
  border-radius: 15px;
  background-color: transparent;
  transition: ease-out 0.5s;
  font-family: ProxiamBold;
  font-size: 16px;
  color: #91769b;
}
body .aboutme__container .button__container button:hover {
  background-color: #91769b;
  color: antiquewhite;
}

/*# sourceMappingURL=aboutme.css.map */
