@font-face {
  font-family: RecoletaMed;
  src: url(../../fonts/Recoleta/Recoleta-Medium.ttf);
}
@font-face {
  font-family: RecoletaBold;
  src: url(../../fonts/Recoleta/Recoleta-Bold.ttf);
}
@font-face {
  font-family: ProxiamReg;
  src: url(../../fonts/proxiam/ProxiamReg.ttf);
}
@font-face {
  font-family: ProxiamBold;
  src: url(../../fonts/proxiam/ProxiamBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: ProxiamBold;
}

button {
  cursor: pointer;
}

p {
  font-family: ProxiamReg;
}

.navbar__container {
  display: flex;
  width: 90%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.navbar__container .nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}
.navbar__container .nav .logo__wrapper {
  width: 200px;
}
.navbar__container .nav .logo__wrapper .img__logo {
  max-width: 100%;
  min-width: 200px;
  padding: 20px;
}
.navbar__container .nav li {
  list-style: none;
}
.navbar__container .nav li a {
  color: RGB(118, 114, 90);
  font-size: 16px;
  font-weight: bold;
}
.navbar__container .nav li a:hover {
  border-bottom: 3px solid white;
}

#footer {
  background-color: #f7f1f7;
}
#footer .footer__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#footer .footer__container .logo__footer__container {
  width: 10%;
}
#footer .footer__container .logo__footer__container .logo__footer {
  width: 100%;
  position: relative;
  top: -30px;
}
#footer .footer__container .social__container {
  margin-bottom: 10px;
  vertical-align: middle;
  text-align: center;
  margin-left: 40px;
}
#footer .footer__container .social__container a {
  text-align: center;
  color: #c8b3ce;
}
#footer .footer__container .social__container i {
  font-size: 30px;
  letter-spacing: 20px;
}
#footer .footer__container .copyRight {
  text-align: center;
  align-items: center;
  padding-bottom: 30px;
  font-size: 19px;
  font-family: Proxima;
  font-style: italic;
  color: #999;
}

body {
  background-image: url("../img/fondoabout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: auto;
}
body .aboutme__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 200vh;
  margin: 0 auto;
  padding: 40px;
}
body .aboutme__container .design__container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
}
body .aboutme__container .design__container .design__foto__container {
  width: 80%;
}
body .aboutme__container .design__container .design__foto__container img {
  width: 100%;
  border-radius: 5%;
}
body .aboutme__container .design__container .design__foto__container .star {
  width: 100px;
  transform: rotate(280deg);
  position: relative;
  top: -75px;
  left: -45px;
  z-index: 1;
}
body .aboutme__container .design__container .design__text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 50px;
  font-family: RecoletaMed;
}
body .aboutme__container .design__container .design__text__container .title__ds {
  font-size: 30px;
  width: 100%;
  height: 20%;
  color: red;
}
body .aboutme__container .design__container .design__text__container .text__design {
  margin-bottom: 30px;
}
body .aboutme__container .design__container .design__text__container .text__design p {
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 120%;
}
body .aboutme__container .reverse {
  display: flex;
  flex-direction: row-reverse;
}
body .aboutme__container .relative {
  position: relative;
  top: -50px;
}
body .aboutme__container .button__container {
  margin-top: 50px;
  margin-bottom: 50px;
}
body .aboutme__container .button__container button {
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  width: 100%;
  border-radius: 10px;
  border-color: #91769b;
  color: #91769b;
  font-weight: bold;
}

/*# sourceMappingURL=aboutme.css.map */
