.navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;


    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        .img__logo {
            width: 20%;
            cursor: pointer;
        }

        li {
            padding: 20px;
            margin: 20px;
            list-style: none;

            a {
                cursor: pointer;
                text-decoration: none;
                color: #3a4646;
                font-size: 16px;
                font-weight: bold;


                &:hover {
                    border-bottom: 3px solid white;
                }
            }

        }

    }
}