@use './parcel/reset';
@use './parcel/navbar';
@use './parcel/footer';


body {

  background-image: url("../img/fondoabout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: auto;



  .aboutme__container {

    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;


    .design__container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 100%;
      margin-top: 150px;


      @media screen and (max-width:700px) {
        flex-direction: column-reverse;
        gap: 10px;
        width: 100%;

      }


      .design__foto__container {
        width: 80%;

        @media screen and (max-width:700px) {
          width: 100%;
          margin-bottom: 20px;
        }

        img {
          width: 100%;
          border-radius: 5%;
        }

        .star {
          width: 100px;
          transform: rotate(280deg);
          position: relative;
          top: -75px;
          left: -45px;
          z-index: 1;

        }
      }

      .design__text__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        width: 80%;
        height: 100%;
        padding: 50px;
        font-family: RecoletaMed;

        @media screen and (max-width:700px) {

          width: 100%;
          padding: 0;

        }

        .title__ds {
          font-size: clamp(1.5rem, 3vw, 1.8rem);
          width: 100%;
          height: 20%;
          color: #e9715c
        }

        .text__design {
          margin-bottom: 30px;

          @media screen and (max-width:700px) {

            margin-bottom: 0;

          }

          p {
            margin-bottom: 20px;
            font-size: clamp(1rem, 2vw, 1.2rem);
            line-height: 120%;
          }

        }

      }

    }

    .reverse {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 50px;

      @media screen and (max-width:700px) {
        flex-direction: column-reverse;
      }
    }

    .relative {
      position: relative;
      top: -50px;

    }

    .button__container {
      margin-top: 50px;
      margin-bottom: 60px;

      @media screen and (max-width:700px) {
        margin-top: 0;
      }

      button {
        padding: 10px 20px 10px 20px;
        border: 2px solid #91769b;
        border-radius: 15px;
        background-color: transparent;
        transition: ease-out .5s;
        font-family: ProxiamBold;
        font-size: 16px;
        color: #91769b;

        &:hover {
          background-color: #91769b;
          color: antiquewhite;
        }
      }
    }
  }

}