@use './parcel/reset';
@use './parcel/navbar';
@use './parcel/footer';


body {

  background-image: url("../img/fondoabout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: auto;


  .aboutme__container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 200vh;
    margin: 0 auto;
    padding: 40px;

    .design__container {
      display: flex;
      align-items: center;
      width: 90%;
      height: 100%;


      .design__foto__container {
        width: 80%;

        img {
          width: 100%;
          border-radius: 5%;
        }

        .star {
          width: 100px;
          transform: rotate(280deg);
          position: relative;
          top: -75px;
          left: -45px;
          z-index: 1;

        }
      }

      .design__text__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 100%;
        padding: 50px;
        font-family: RecoletaMed;

        .title__ds {
          font-size: 30px;
          width: 100%;
          height: 20%;
          color: red;
        }

        .text__design {
          margin-bottom: 30px;

          p {
            margin-bottom: 30px;
            font-size: 19px;
            line-height: 120%;
          }

        }

      }

    }

    .reverse {
      display: flex;
      flex-direction: row-reverse;
    }

    .relative {
      position: relative;
      top: -50px;
      
    }

    .button__container {
      margin-top: 50px;
      margin-bottom: 50px;

      button {
        padding: 10px 20px 10px 20px;
        background-color: transparent;
        width: 100%;
        border-radius: 10px;
        border-color: #91769b;
        color: #91769b;
        font-weight: bold;
      }
    }
  }

}