@use './parcel/reset';
@use './parcel/navbar';
@use './parcel/footer';



body {
    background-image: url("../img/fondoabout.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    .contactme__container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;


        .description__container {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            margin-bottom: 30px;
            margin-right: 60px;

            .title__container {
                width: 100%;
                font-family: RecoletaMed;
                font-size: 20px;
                text-align: center;
                margin-bottom: 20px;
                color: red;
            }

            .text__description {
                font-size: 18px;
                width: 70%;
                display: flex;
                margin-bottom: 20px;
                line-height: 120%;


                p {
                    width: 100%;
                    text-align: center;
                    padding: 20px;
                }
            }
        }

        .form__contaiener {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: auto;
            padding: 20px;




            form {
                font-family: ProxiamReg;
                font-size: 19px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                margin-left: 20px;
                height: auto;

                #name {
                    width: 50%;
                }

                label {
                    padding: 5px;
                    font-weight: bold;
                }

                input,
                textarea {
                    width: 100%;
                    padding: 5px;
                    border-radius: 10px;
                    border: rgba(0, 0, 0, 0.132) 1px solid;
                    background: transparent;
                    margin-bottom: 15px;
                    resize: none;
                    font-family: ProxiamReg;
                    font-size: 19px;

                }

                .input__submit {
                    width: 10%;
                    font-weight: bold;
                    cursor: pointer;
                }

            }
        }
    }
}