@use './parcel/reset';
@use './parcel/navbar';
@use './parcel/footer';


header {
    width: 100%;
    height: 120vh;
    background: url(../img/headerimg.png), #d8cbcd;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;


    .header__container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: -30px;

        .header__body__container {
            width: 85%;
            height: 80vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            position: relative;
            top: -60px;



            .title__header {
                width: 35%;

                img {
                    width: 90%;
                }
            }

            .header__text {
                width: 50%;

                .first__text {
                    width: 85%;
                    font-size: 20px;
                    text-align: left;
                    color: #91769b;
                    margin: 0 auto;
                    line-height: 1.3em;

                }
            }
        }

        .title__footer {
            width: 100%;
            height: auto;
            position: relative;
            top: -40px;


            p {
                color: #e9571c;
                margin: 0 auto;
                width: 40%;
                text-align: center;
                font-size: 22px;
                line-height: 120%;
            }
        }
    }
}



// ---------------------segundo -------

#projects {
    background: url("../img/fondoinicio3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 40px;

    .projects__container {

        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        .projects__title {
            font-family: RecoletaBold;
            font-size: 30px;
            margin-bottom: 30px;
            color: #91769b;

        }

        .projects__img__container {
            width: 80%;
            height: 80vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px;



            .projects__img {
                width: 33%;
                height: 80%;

                padding: 10px;
                box-sizing: border-box;


                a {

                    .foto {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        border-radius: 10px;
                        object-fit: cover;

                    }
                }


            }
        }
    }

    .projects__button__container {
        margin-top: 40px;
        margin-bottom: 50px;

        .projects__button {
            padding: 10px 20px 10px 20px;
            border: 2px solid #91769b;
            border-radius: 15px;
            background-color: transparent;
            transition: ease-out .5s;
            font-family: ProxiamBold;
            font-size: 16px;
            color: #91769b;
            ;

            &:hover {
                background-color: rgba(56, 158, 119, 0.14);
            }

        }
    }

}

#aboutme {
    padding: 50px;
    margin-bottom: 50px;

    .aboutme__container {
        width: 80%;
        height: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .aboutme__img__container {
            width: 40%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .aboutme__body__container {
            width: 40%;
            height: auto;


            .title {
                font-size: 30px;
                color: #e9571c;
                font-family: RecoletaMed;
                margin-bottom: 50px;
                font-weight: lighter;

            }

            .text {
                margin-bottom: 40px;
                color: #91769b;
                line-height: 120%;
                font-size: 19px;
            }

            .aboutme__button {
                padding: 10px 20px 10px 20px;
                border: 2px solid #91769b;
                border-radius: 15px;
                background-color: transparent;
                transition: ease-out .5s;
                font-family: ProxiamBold;
                font-size: 16px;
                color: #91769b;
                ;

                &:hover {
                    background-color: rgba(56, 158, 119, 0.14);
                }

            }
        }
    }
}