@use './parcel/reset';
@use './parcel/navbar';
@use './parcel/footer';

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

header {
    width: 100%;
    height: 120vh;
    background: url(../img/headerimg.png), RGB(200,179,206);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;



    #header {
        .header__container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;


            @media screen and (max-width:700px) {
                top: 50px;
            }

            .header__body__container {
                width: 85%;
                min-height: 70vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-align: center;


                @media screen and (max-width:850px) {
                    width: 100%;
                    padding: 10px;

                }

                @media screen and (max-width:500px) {
                    flex-direction: column;
                    justify-content: center;
                    gap: 30px;
                    margin-top: 30px;
                }



                .title__header {
                    width: 35%;

                    @media screen and (max-width:850px) {
                        width: 50%;
                    }

                    @media screen and (max-width:500px) {
                        width: 60%;
                        margin-bottom: 30px;
                    }




                    img {
                        width: 90%;

                        &:hover {
                            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
                            transform: translate3d(0, 0, 0);

                        }


                    }
                }

                .header__text {
                    width: 50%;

                    @media screen and (max-width:500px) {
                        width: 100%;
                    }

                    .first__text {
                        width: 85%;
                        font-size: clamp(1.1rem, 2vw, 1.3rem);
                        text-align: left;
                        color: #91769b;
                        margin: 0 auto;
                        line-height: 1.3em;


                        @media screen and (max-width:850px) {
                            width: 95%;

                        }

                        @media screen and (max-width:500px) {
                            width: 100%;

                        }
                    }
                }
            }

            .title__footer {
                width: 100%;
                height: auto;
                position: relative;
                top: 90px;

                @media screen and (max-width:500px) {
                    top: 60px;
                }


                p {
                    color: #e9571c;
                    margin: 0 auto;
                    width: 40%;
                    text-align: center;
                    font-size: clamp(1rem, 2vw, 1.3rem);
                    line-height: 120%;

                    @media screen and (max-width:500px) {
                        width: 87%;
                        font-size: calc(1vw + .8em);
                        text-align: left;
                    }
                }
            }
        }
    }
}



// ---------------------segundo -------

#projects {
    background: url("../img/fondoinicio3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 40px;
    width: 100%;
    height: 115vh;

    @media screen and (min-width:500px) and (max-width:850px) {
        height: 150vh;
    }


    .projects__container {

        width: 100%;
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:500px) and (max-width:850px) {
            height: 145vh;
        }

        .projects__title {
            font-family: RecoletaBold;
            font-size: clamp(1rem, 2vw, 2rem);
            margin-bottom: 30px;
            color: #91769b;

        }

        .projects__img__container {
            width: 90%;
            height: 75vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px;

            @media screen and (max-width:850px) {

                flex-wrap: wrap;
                overflow: hidden;
                width: 100%;
                height: 125vh;

            }

            @media screen and (max-width:500px) {
                flex-wrap: wrap;
                width: 100%;
                height: 80vh;
                overflow: scroll;
                

            }

            .projects__img {
                width: 33%;
                height: 80%;
                padding: 10px;
                box-sizing: border-box;

                @media screen and (max-width:850px) and (min-width:500px) {

                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    box-sizing: border-box;

                    &:first-child {
                        width: 94%;
                        height: 60%;
                    }

                    +.projects__img {
                        width: 45%;
                        height: 45%;
                    }

                }


                @media screen and (max-width:500px) {
                    width: 90%;
                    height: 80%;
                }



                a {
                    .foto {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        border-radius: 10px;
                        object-fit: cover;



                    }
                }


            }

        }

        .projects__button__container {
            margin-top: 40px;
            margin-bottom: 50px;

            .projects__button {
                padding: 10px 20px 10px 20px;
                border: 2px solid #91769b;
                border-radius: 15px;
                background-color: transparent;
                transition: ease-out .5s;
                font-family: ProxiamBold;
                font-size: 16px;
                color: #91769b;
                ;

                &:hover {
                    background-color: rgba(56, 158, 119, 0.14);
                }


            }
        }

    }


}



#aboutme {
    padding: 50px;
    margin-bottom: 50px;

    .aboutme__container {
        width: 80%;
        height: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;



        @media screen and (max-width:850px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: auto;
            gap: 1rem;
        }

        .aboutme__img__container {
            width: 40%;
            height: 100%;

            @media screen and (max-width:700px) {
                width: 80%;
                height: auto;

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .aboutme__body__container {
            width: 40%;
            height: auto;

            @media screen and (max-width:700px) {
                width: 100%;
                height: auto;

            }

            .title {
                font-size: clamp(1rem, 2vw, 2rem);
                color: #FF7443;
                font-family: RecoletaMed;
                margin-bottom: 10px;
                font-weight: lighter;

            }

            .text {
                margin-bottom: 40px;
                color: #91769b;
                line-height: 120%;
                font-size: clamp(1rem, 2vw, 1.3rem);
            }

            .aboutme__button {
                padding: 10px 20px 10px 20px;
                border: 2px solid #91769b;
                border-radius: 15px;
                background-color: transparent;
                transition: ease-out .5s;
                font-family: ProxiamBold;
                font-size: 16px;
                color: #91769b;
                ;

                &:hover {
                    background-color: rgba(56, 158, 119, 0.14);
                }

            }
        }
    }
}