@use './parcel/reset';
@use './parcel/navbar';
@use './parcel/footer';

html {
    background-image: url("../img/fondoabout.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    .projects__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 200px;

        .title__projects {
            max-width: 100%;
            height: auto;
            text-align: center;
            margin: 100px 0px 40px 0px;
            padding: 30px;
            color: #e9571c;
            font-family: RecoletaBold;
            font-size: clamp(0.7rem, 2vw, 1.5rem);

            span{
                display: block;
            }

            @media screen and (max-width:500px){
                
            }
        }

        .img__projects__container {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;


            .primero {
                display: flex;
                width: 80%;
                height: auto;

                .card {
                    width: 100%;
                    margin: 5px;
                    overflow: hidden;
                    position: relative;

                    &:hover .info {
                        bottom: 0;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                        cursor: none;

                    }

                    .info {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transition: 1s;
                        bottom: -100%;
                        right: 0;
                        background-color: #1f3d4738;
                        backdrop-filter: blur(5px);
                        color: white;
                        padding: 30px;
                        text-align: center;
                        font-family: ProxiamReg;
                        font-size: 16px;
                        border-radius: 10px;

                        a{
                            color: white;
                            cursor: pointer;
                        }
                       
                        

                        h2{
                            width: 100%;
                            height: 30px;
                        }
                    }
                }

                .half {
                    width: 50%;
                }
            }

            .invertido {
                flex-direction: row-reverse;
            }

        }
    }
}