@use '../parcel/reset';
@use '../parcel/navbar';
@use '../parcel/footer';

.fullpage__container {
    background: url("../../img/fondoproject.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;

    .main__contenedor {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-bottom: 70px;

        .header__project {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;

            @media screen and (max-width:700px) {
                margin: 0px;
                width: 100%;
                padding: 10px;
            }

            .passion__project {
                font-family: RecoletaMed;
                color: #FF7443;
                font-size: clamp(0.6rem, 1vw, 0.6rem);
            }

            .title__project {
                font-family: ProxiamBold;
                color: #91769b;
                font-size: clamp(0.9rem, 2vw, 1.3rem);
            }

            .description__project {
                width: 60%;
                margin-bottom: 40px;

                @media screen and (max-width:700px) {
                    width: 100%;
                }

                p {
                    width: 100%;
                    font-family: ProxiamReg;
                    font-size: clamp(1.1rem, 2vw, 1.4rem);
                    color: #4D4D4D;
                }
            }
        }

        .gallery__container {
            width: 80%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width:700px) {
                margin: 0px;
                width: 100%;
                padding-right: 10px;
                padding-left: 10px;
            }

            .gallery__wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                gap: 10px;

                @media screen and (max-width:500px) {
                    flex-direction: column;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    cursor: pointer;

                    @media screen and (max-width:500px) {
                        width: 95%;
                        
                    }
                }
            }
        }

        .gallery__wrapper__footer {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width:700px) {
                margin: 0px;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
            }

            .container {
                width: 33%;
                position: relative;
                top: 0;
                left: 0;

                img {
                    width: 100%;
                    border-radius: 10px;
                    cursor: pointer;
                }

                .blur {
                    filter: blur(5px);
                    /* elige el valor que desees */
                }
            }
        }
    }
}