@use '../parcel/reset';
@use '../parcel/navbar';
@use '../parcel/footer';

.fullpage__container {
    background: url("../../img/fondoproject.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;

    .grande {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        
        margin-bottom: 70px;



        .chico1 {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 40px;



            @media screen and (max-width:700px) {
                margin: 0px;
                width: 100%;
                padding: 10px;
            }


            .pri {
                font-family: RecoletaMed;
                color: #FF7443;
                font-size: clamp(0.6rem, 1vw, 0.6rem);
            }

            .sec {
                font-family: ProxiamBold;
                color: #91769b;
                font-size: clamp(0.9rem, 2vw, 1.3rem);

            }

            .ter {
                width: 60%;
                margin-bottom: 40px;

                @media screen and (max-width:700px) {

                    width: 100%;
                }

                p {
                    width: 100%;
                    font-family: ProxiamReg;
                    font-size: clamp(1.1rem, 2vw, 1.4rem);
                    color: #4D4D4D;


                }
            }
        }

        .chico2 {
            width: 80%;
            height: auto;

            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width:700px) {
                margin: 0px;
                width: 100%;
                padding-right: 10px;
                padding-left: 10px;
            }

            .padre {
                width: 100%;
                display: flex;
                gap: 10px;


                img {
                    width: 100%;
                    border-radius: 10px;
                    cursor: pointer;
                }


            }

        }

        .chico3 {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width:700px) {
                margin: 0px;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
            }

            .caja {
                width: 33%;
                position: relative;
                top: 0;
                left: 0;



                img {
                    width: 100%;
                    border-radius: 10px;
                    cursor: pointer;



                }

                .blur {
                    filter: blur(5px);
                    /* elige el valor que desees */
                }


            }





        }
    }


}