#footer {

    background-color: #f7f1f1;

    .footer__container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;


        .logo__footer__container {
            width: 10%;

            @media screen and (max-width:700px) {
                width: 20%;
            }

            .logo__footer {
                width: 100%;
                position: relative;
                top: -30px;

            }
        }

        .social__container {

            margin-bottom: 30px;
            vertical-align: middle;
            text-align: center;
            margin-left: 40px;

            a {
                text-align: center;
                color: #c8b3ce;

                &:hover {
                    color: #e9571c;
                }


            }

            i {
                font-size: 1.9rem;
                letter-spacing: 20px;


            }
        }

        .copyRight {
            p {
                text-align: center;
                align-items: center;
                padding: 15px;
                font-size: clamp(1rem, 2vw, 1.2rem);
                font-family: Proxima;
                font-style: italic;
                color: #999;
            }

        }
    }
}