#footer {
   
    background-color: #f7f1f7;

    .footer__container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;


        .logo__footer__container {
            width: 10%;
            .logo__footer {
                width: 100%;
                position: relative;
                top: -30px;
                
            }
        }

        .social__container {
            
            margin-bottom: 10px;
            vertical-align: middle;
            text-align: center;
            margin-left: 40px;
            
            a{
                text-align: center;
                color: #c8b3ce;
            }

            i{
                font-size: 30px;
                letter-spacing: 20px;
                
               
            }
        }

        .copyRight {
            text-align: center;
            align-items: center;
            padding-bottom: 30px;
            font-size: 19px;
            font-family: Proxima;
            font-style: italic;
            color: #999;
        }
    }
}