.navbar__container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    content: "";
    z-index: 1;

    @media screen and (max-width:700px) {

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;



        .img__logo__resp {
            width: 210px;
            height: 100%
        }
    }

    .openMenu {
        width: 100%;
        display: none;
        padding: 10px;

        button {
            border: none;
            width: 40px;
            font-size: 40px;
            background-color: transparent;
        }

        @media screen and (max-width:700px) {
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            padding: 20px;

        }

    }


    .nav__list {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 10px;
        
       

        @media screen and (max-width:700px) {

            visibility: hidden;
            //este es el que tiene que camibar para que aparezca cuando hago click en abrir
            flex-direction: column;
            align-items: center;
            justify-content: end;
            gap: 2.5rem;
            background-color: rgba(31, 61, 71, 0.2196078431);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(8px);
            position: absolute;
            top: 0;
            z-index: -1;
            height: 320px;
            padding-bottom: 40px;
        }


        .logo__wrapper {
            width: 220px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width:700px) {
                display: none;

            }


            .img__logo {
                max-width: 100%;
                min-width: 200px;
                padding: 20px;
                margin-left: 40px;

                @media screen and (max-width:700px) {}
            }
        }

        li {
            
            list-style: none;

            a {
                color: RGB(118, 114, 90);
                font-size: 16px;
                font-weight: bold;
                position: relative;
                

                @media screen and (max-width:700px) {
                    color: #fff;
                    
                }


                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    border-bottom: 3px solid white;
                    left: 0;
                    bottom: -2px;
                    transform: scale(0, 1);
                    transform-origin: 0% 100%;
                }

                &:hover::after {
                    transform: scale(1, 1);
                    transition: transform 0.3s ease;
                }



            }

            .logo-link:hover::after {
                border-bottom: none;
            }

        }

    }

    .visible {
        visibility: visible;

    }
}