@font-face {
    font-family: Recoleta;
    src: url(../fonts/Recoleta-Regular.ttf);
}

@font-face {
    font-family: Proxiam;
    src: url(../fonts/proxiam/proxima-reg/ProximaNova-Regular.otf);
}

@font-face {
    font-family: ProxiamBold;
    src: url(../fonts/proxiam/proxima-bold/ProximaNovaBold.otf);
}

.navbar__container {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;


    .nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 10px;

        .logo__wrapper{
            width:200px;

            .img__logo{
                max-width: 100%;
                min-width: 200px;
                padding: 20px;
            }
        }

        li {
           
            list-style: none;

            a {
                cursor: pointer;
                text-decoration: none;
                color: #3a4646;
                font-size: 16px;
                font-weight: bold;


                &:hover {
                    border-bottom: 3px solid white;
                }
            }

        }

    }
}